<!DOCTYPE html>
<html>
  <head>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li >
          <h1>Compras</h1>
        </li>

      </ul>

    </nav>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
